/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  background: #dde1e7;
}

.container {
  background: #dde1e7;
  padding: 25px;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 7px rgba(94, 104, 121, 0.288);
}

.container .pagination {
  display: flex;
  list-style: none;
}

.container .pagination li {
  flex: 1;
  margin: 0 5px;
  background: #dde1e7;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 7px rgba(94, 104, 121, 0.288);
}

.container .pagination li a {
  font-size: 18px;
  text-decoration: none;
  color: #4d3252;
  height: 45px;
  width: 55px;
  display: block;
  line-height: 45px;
}

.container .pagination li:first-child a {
  width: 120px;
}

.container .pagination li:last-child a {
  width: 100px;
}

.container .pagination li:first-child {
  margin: 0 15px 0 0;
}

.container .pagination li:last-child {
  margin: 0 0 0 15px;
}

.container .pagination li.active {
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 7px rgba(94, 104, 121, 0.288);
}

.container .pagination li.active a {
  font-size: 17px;
  color: #6f6cde;
}
